.about{
    width: 100%;
    margin:  0 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
}

.about .left{
    text-align: center;
    flex: 1;
    padding: 1rem;
    max-width: 600px;
}

.about .left p{
    margin: 1.2rem 0;
}

.about .right{
    max-width: 700px;
    display: flex;
    justify-content: flex-end;
    flex:1;
}

.right .img-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    position: relative;
    align-items: center;
    text-align: center;
}

.right .img{
    max-width: 90%;
    border: 1px solid #535353;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.right .img:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.right .top{
    grid-column: 1 / span 10;
    grid-row: 1;
    padding-top: 20%;
}


